<!-- <mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>
  <img [width]="40" [height]="45" src="../assets/images/Asset 9.png"/>
  <span class="logo-brand">Expense<span class="logo-brand2">Hive</span></span>
  <button class="user-profile-button"><img src="../assets/images/man1.jpg"></button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
   <app-custom-sidenav [collapsed]="collapsed()"></app-custom-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<router-outlet></router-outlet>